html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
/* Mobile-first . I used a viewport of
400px as my estimate.*/
section, footer {
  width: 100%;
}

body {
  margin: 0;
}

h1, p, h3 {
  margin: 0;
}

#picture {
  width: 100%;
  position: relative;
}

.class-pic h1 {
  position: absolute;
  top: 60px;
  left: 25px;
  color: #f0f0f5;
}

.class-pic p {
  position: absolute;
  top: 90px;
  left: 95px;
  color:  #ff471a;
}

.about {
  padding: 5% 0 5% 3.5%;
  background: #f0f0f5
}

.about h3 {
  text-align: center;
}

.curr {
  padding: 5% 0 5% 3.5%;
  background: silver;
}

.curr h3 {
  text-align: center;
}

.blog {
  padding: 5% 0 5% 3.5%;
  background: #f0f0f5;
}

.blog h3 {
  text-align: center;
}

.Sign-up-form {
  padding: 5% 0 5% 3.5%;
  background: silver;
}

.Sign-up-form h3 {
  text-align: center;
}

.Sign-up-form form {
  padding: 5% 0 5% 0;
}

.contact-us {
  padding: 5% 0 5% 3.5%;
  background: #f0f0f5;
}

.contact-us h3 {
  text-align: center;
}

.contact-us form {
  padding: 5% 0 5% 0;
}

footer {
  padding: 5% 0 5% 3.5%;
  background: grey;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover, a:active {
  color: yellow;
}


@media screen and (min-width: 600px) {/* For tablets and up.*/
/*write CSS code for this layout size*/
}
@media screen and (min-width: 768px) {/*for laptops and desktops*/
/*write CSS code for this layout size*/
 }
