html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
/* Mobile-first . I used a viewport of
400px as my estimate.*/
section, footer {
  width: 100%;
}

body {
  margin: 0;
}

h1, p, h3 {
  margin: 0;
}

p, a {
  font-size: 15px;
}

#picture {
  width: 100%;
  position: relative;
}

.class-pic h1 {
  position: absolute;
  /*top: 60px;
  left: 78px; */
  font-size: 26px;
  top: 14%;
  left:40%;
  color: #f0f0f5;
}
h3 {
  font-size: 20px;
}
.class-pic p {
  position: absolute;
  /*top: 90px;
  left: 25px;*/
  font-size: 18px;
  top: 18%;
  left: 25%;
  color:  #ff471a;
}

.about {
  padding: 3% 0 3% 2.5%;
  background: #f0f0f5
}

.about h3 {
  text-align: center;
}

.curr {
  padding: 3% 0 3% 2.5%;
  background: silver;
}

.curr h3 {
  text-align: center;
}

.blog {
  padding: 3% 0 3% 2.5%;
  background: #f0f0f5;
}

.blog h3 {
  text-align: center;
}

.Sign-up-form {
  padding: 3% 0 3% 2.5%;
  background: silver;
}

.Sign-up-form h3 {
  text-align: center;
}

.Sign-up-form form {
  padding: 5% 0 5% 0;
}

.contact-us {
  padding: 3% 0 3% 2.5%;
  background: #f0f0f5;
}

.contact-us h3 {
  text-align: center;
}

.contact-us form {
  padding: 5% 0 5% 0;
}

footer {
  padding: 3% 0 3% 2.5%;
  background: grey;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover, a:active {
  color: #ff471a;
}


@media screen and (min-width: 600px) {/* For tablets and up.*/
/*write CSS code for this layout size*/
.class-pic h1 {
  position: absolute;
  /*top: 100px;
  left: 178px;*/
  top: 18%;
  left: 36%;
  font-size: 38px;

  color: #f0f0f5;
}

.class-pic p {
  position: absolute;
  /*top: 130px;
  left: 125px;*/
  font-size: 26px;
  top: 25%;
  color:  #ff471a;
}
h3 {
  font-size: 32px;
}
p, a {
  font-size: 18px;
}
}
@media screen and (min-width: 768px) {/*for laptops and desktops*/
/*write CSS code for this layout size*/
.class-pic h1 {
  position: absolute;
  /*top: 140px;
  left: 278px;*/
  font-size: 40px;
  top: 23%;
  color: #f0f0f5;
}

.class-pic p {
  position: absolute;
  /*top: 170px;
  left: 225px;*/
  font-size: 30px;
  top: 32%;
  color:  #ff471a;
}
h3 {
  font-size: 34px;
}

p, a {
  font-size: 18px;
}
 }
